<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Cancelar Passagem</h3>
<form action="ServletCancelar" method=get>
	<label>Digite seu nome:</label>
    <input type = text name = nome>
    <br>
    <label>Diga sua idade:</label>
    <input type = text name = idade>
    <br>
    <label>Digite seu código</label>
    <input type = text name = codigo>
    <input type="submit" value = "cancelar">
</form>
<a href="index.html" >Voltar para pagina Inicial</a>
</body>
</html>
