<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Comprar Passagem</h3>
<form action="ServletComprar" method=get>
	<label>Digite seu nome:</label>
    <input type = text name = nome>
    <br>
    <label>Diga sua idade:</label>
    <input type = text name = idade>
    <br>
    <label>É‰ estudante?</label>
    <select>
     <option>Sim</option>
     <option>Não</option>
    </select>
    <input type="submit" value = "comprar">
</form>
</body>
</html>
