<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
 <h3>Mapa de Acentos IFVan
 </h3>
 <TABLE BORDER=1> 
  <TR> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>1</TD> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>2</TD>
  </TR> 
 <TR> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>3</TD>
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>4</TD>   
 </TR> 
  <TR> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>5</TD> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>6</TD>
  </TR> 
   <TR> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>7</TD> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>8</TD>
  </TR> 
   <TR> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>9</TD> 
    <TD ALIGN="CENTER" WIDTH=100 BGCOLOR=GREEN>10</TD>
  </TR> 
</TABLE> 
<p>Legenda: 
<font color="#FF0000"> Vermelho(ocupado) </font>  <font color="#009900"> Verde(disponível) </font> </p>
<br>
<p>Preço da Passagem: R$ 25,00</p>
<br>
<p>O que você deseja:</p>
 
 <a href="comprarpassagem.html" >Comprar uma passagem</a>
 <br>
 <a href="cancelarpassagem.html" >Cancelar Passagem</a>
 <br>
 <a href="totalapurado.html" >Total Arrecadado</a>
 
</body>
</html>