<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h3>Bem Vindo a Summoner´s Rift</h3>
<form action="ServletLogin" method=post>
	<label>Digite seu nome:</label>
    <input type = text name = nome>
    <br>
    <label>Diga sua senha:</label>
    <input type = text name = senha>
    <br>
    <label>Diga seu ID de usuario:</label>
    <input type = text name = id>
    <br>
    <input type="submit" value = "logar">
    <a href="registre.html" >Registre-se</a>
    <br>
</form>

</body>
</html>