<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<h3>Junte-se a Summoner´s Rift</h3>
<form action="ServletRegistro" method=get>
	<label>Digite seu nome:</label>
    <input type = text name = nome>
    <br>
    <label>Diga sua senha:</label>
    <input type = text name = senha>
    <br>    
    <label>Diga sua idade:</label>
    <input type = text name = idade>
    <br>
    <label>Diga seu endereço:</label>
    <input type = text name = endereco>
    <br>
    <label>Diga sua cidade:</label>
    <input type = text name = cidade>
    <br>
    <input type="submit" value = "logar">
    <br>
</form>
</html>